<div class="right-bar">
    {{> "systems/deltagreen2/templates/actor/parts/skills-tab.html" }}
    {{> "systems/deltagreen2/templates/actor/parts/physical-tab-v2.html" }}
    {{> "systems/deltagreen2/templates/actor/parts/motivations-tab-v2.html" }}
    {{> "systems/deltagreen2/templates/actor/parts/gear-tab.html" }}
    {{> "systems/deltagreen2/templates/actor/parts/bio-tab-v2.html" }}
    {{> "systems/deltagreen2/templates/actor/parts/bonds-tab.html" }}
    {{> "systems/deltagreen2/templates/actor/parts/about-tab.html" }}
</div>
